fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-ollama
langgraph
sqlalchemy
pydantic
python-dotenv
python-dateutil
alembic
redis
langchain-openai
langgraph-checkpoint-sqlite
langchain-mcp-adapters
psycopg2-binary